In [ ]:
path="" #set path to data files as required

#Example 1

f = open("Data1.txt", "r")
print(f.read())
f.close()

In [ ]:
f = open(path+"Data1.txt", "r")
print(f.read(100))

In [ ]:
print(f.readline())
print(f.readline())

In [ ]:
#f = open("Data1.txt", "r")
for line in f: #iterating the file object 
  print(line)
f.close()

In [ ]:
#Example 2
with open(path+'Data1.txt') as f:
    lines=f.readlines() #read all text lines into a list

print(len(lines), 'lines read from file.')

for i in range(20):    #print the first 20 lines
    print('Line',i+1,':',lines[i])

In [3]:
#Example 3
f1 = open(path+'Data1.txt', 'a')
f2 = open(path+'Data2.txt', 'r')
for line in f2:
    f1.write(line)
f1.close(); f2.close()
print(len(open(path+'Data1.txt').readlines()), 'lines in Data1.txt.')

217 lines in Data1.txt.

In [ ]:
# pandas examples
#=================

In [29]:
#Example 4
import pandas
df = pandas.read_csv('clients_leasing20.csv')
print(df.index)
print(df.columns)
print(df.head())
#print(df.tail())

RangeIndex(start=0, stop=20, step=1)
Index(['ID_CLIENT', 'NAME_CLIENT', 'JOB', 'SEX', 'CURRENCY', 'INCOME_PER_YEAR',
       'DATE', 'AGE'],
      dtype='object')
   ID_CLIENT           NAME_CLIENT       JOB SEX CURRENCY  INCOME_PER_YEAR  \
0    3488784      Hajdu Ors Attila  Engineer   m      EUR         23000.00
1    4057671      Harpa Constantin    Worker   m      ROL          1000.00
2    7539733  Horvath Zoltan Ignac    Worker   m      ROL          1635.51
3    3180923         Herta Nicolae  Engineer   m      EUR          7000.00
4    1673453            Hagi Nazim  Engineer   m      ROL         16000.00

         DATE  AGE
0  14-04-2006   35
1  31-08-2009   35
2    8/5/2007   25
3    9/3/2006   33
4  27-10-2009   44

In [ ]:
#Example 5
#import pandas
df = pandas.read_csv('clients_leasing20.csv')
print(df.iloc[2])       #print the 3rd row - Series obj.
print(df.iloc[[1,3,5]]) #print specific rows (as list of row numbers),
                        # - Frame obj.

In [9]:
#Example 6
#import pandas
df = pandas.read_csv('clients_leasing20.csv')
print(df.iloc[2, 0]) #print the value in 3rd row, first column
print(df.iloc[[1,3,5], [0,2]]) #print specific rows and columns

7539733
   ID_CLIENT        JOB
1    4057671     Worker
3    3180923   Engineer
5    2213309  Professor

In [13]:
#Example 7
#import pandas
df = pandas.read_csv('clients_leasing20.csv')

print(df.iloc[3:6]) # row slicing
#print(df.iloc[:5])
#print(df.iloc[15:])

print(df.iloc[7:10, 2:5])  #  rows 7 to 9, columns 2 to 4
#print(df.iloc[0, :]) #first row, all columns

   ID_CLIENT    NAME_CLIENT        JOB SEX CURRENCY  INCOME_PER_YEAR  \
3    3180923  Herta Nicolae   Engineer   m      EUR           7000.0
4    1673453     Hagi Nazim   Engineer   m      ROL          16000.0
5    2213309    Handa Maria  Professor   f      ROL              0.0

         DATE  AGE
3    9/3/2006   33
4  27-10-2009   44
5    7/9/2010   54
                JOB SEX CURRENCY
7  Asistent medical   m      ROL
8  Asistent medical   f      ROL
9          Engineer   m      EUR

In [ ]:
#Example 8
#import pandas
df = pandas.read_csv('clients_leasing20.csv')
print(df.loc[ : ,'NAME_CLIENT'])

# when selecting a single column, the following expressions may also be used:
#print(df['NAME_CLIENT']) # dictionary-style indexing
#print(df.NAME_CLIENT)    # attribute-style access (if column names are strings)

print(df.loc[5, 'NAME_CLIENT']) # row 5, column Name
print(df.loc[[5,10],['NAME_CLIENT','JOB']]) # rows list, columns list

In [41]:
#Example 9
#import pandas
df = pandas.read_csv('clients_leasing20.csv')

print(df.loc[:, 'ID_CLIENT':'JOB']) #

#print(df.loc[0, :'JOB']) # slice with upper bound only
#print(df.loc[1, 'JOB':]) # slice with lower bound only
#print(df.loc[[0,3], : ]) #empty slice (all columns)

   ID_CLIENT       NAME_CLIENT       JOB SEX CURRENCY  INCOME_PER_YEAR  \
0    3488784  Hajdu Ors Attila  Engineer   m      EUR          23000.0
3    3180923     Herta Nicolae  Engineer   m      EUR           7000.0

         DATE  AGE
0  14-04-2006   35
3    9/3/2006   33

In [46]:
#Example 10
#import pandas
df = pandas.read_csv('clients_leasing20.csv')

print(df.loc[(df['AGE']==35),['NAME_CLIENT']])
#print(df['AGE']==35)

                   NAME_CLIENT
0             Hajdu Ors Attila
1             Harpa Constantin
19  Hreniuc Lacramioara Carmen

In [47]:
#Example 11
import pandas
df = pandas.read_csv('clients_leasing20.csv')

print(df.loc[(df['AGE']==35)&(df['SEX']=='m'),['NAME_CLIENT','JOB','SEX','AGE']])

        NAME_CLIENT       JOB SEX  AGE
0  Hajdu Ors Attila  Engineer   m   35
1  Harpa Constantin    Worker   m   35

In [ ]:
#Example 12
import pandas
df = pandas.read_csv('clients_leasing20.csv')

print(df.loc[df['JOB'] != 'Engineer', 'NAME_CLIENT':'INCOME_PER_YEAR'])

In [ ]:
#Example 13
import pandas
df = pandas.read_csv('clients_leasing20.csv')
print(df.loc[df['NAME_CLIENT'].str.endswith("a"),['NAME_CLIENT','SEX']])

In [ ]:
#Example 14
import pandas
df = pandas.read_csv('clients_leasing20.csv')
print(df.loc[df['NAME_CLIENT'].str.startswith("Ha"),['NAME_CLIENT','SEX']])

In [ ]:
#Example 15
import pandas
df = pandas.read_csv('clients_leasing20.csv')
print(df.loc[df['JOB'].isin(['Engineer', 'Professor']),['NAME_CLIENT','SEX', 'JOB']])

In [54]:
#Example 16
import pandas
df = pandas.read_csv('clients_leasing20.csv')

print(df.loc[0, 'INCOME_PER_YEAR'])
df.loc[0,'INCOME_PER_YEAR']=30000
print(df.loc[0, 'INCOME_PER_YEAR'])

23000.0
30000.0

In [ ]:
#Example 17
import pandas
df = pandas.read_csv('clients_leasing20.csv')

df1=df.copy()

df1.loc[(df1['INCOME_PER_YEAR']<5000)&(df1['AGE']>30),'INCOME_PER_YEAR']=10000

print(df1[['NAME_CLIENT','INCOME_PER_YEAR', 'AGE']])
print(df1.loc[(df1['INCOME_PER_YEAR']==10000)&(df1['AGE']>30), ['NAME_CLIENT','INCOME_PER_YEAR', 'AGE']])

In [ ]:
#Example 18
import pandas as pd
df = pd.read_csv('clients_leasing20.csv',usecols=['NAME_CLIENT','JOB','SEX','CURRENCY','INCOME_PER_YEAR','DATE','AGE'])
print(df.describe())
#print(df.describe(include="all"))

print('\n***** Function describe() on column JOB *****')
print(df['JOB'].describe())

print('\n***** Function describe() on column AGE *****')
print(df['AGE'].describe())

In [ ]:
#Example 19
import pandas as pd
df = pd.read_csv('clients_leasing20.csv',usecols=['NAME_CLIENT','JOB','SEX','CURRENCY','INCOME_PER_YEAR','DATE','AGE'])

print('Total income', df['INCOME_PER_YEAR'].sum())
print('Average income', df['INCOME_PER_YEAR'].mean())
print('Median of income', df['INCOME_PER_YEAR'].median())
print('No. of unique values', df['INCOME_PER_YEAR'].nunique())
print('Highest income', df['INCOME_PER_YEAR'].max())
print('Lowest income', df['INCOME_PER_YEAR'].min())

In [ ]:
#Example 20
import pandas as pd
df = pd.read_csv('clients_leasing20.csv')
print(df.dtypes) #what are the types of AGE, DATE ?

df = pd.read_csv('clients_leasing20.csv', parse_dates = ['DATE']) #parse 'DATE' as a date column
df.AGE = df.AGE.astype(float) #convert AGE data to float
print(df.dtypes)

In [ ]:
#Example 21
import pandas as pd

df = pd.read_csv('clients_leasing20missing.csv',usecols=['NAME_CLIENT','JOB','SEX','CURRENCY','INCOME_PER_YEAR','DATE','AGE'])
print(df['AGE'])
#print(df.loc[df['AGE'].isnull()]) #print rows with missing values for  AGE
print(df['AGE'].fillna('missing')) #fill with a string

In [9]:
import pandas as pd
df = pd.read_csv('clients_leasing20missing.csv',usecols=['NAME_CLIENT','JOB','SEX','CURRENCY','INCOME_PER_YEAR','DATE','AGE'])
mean_age = int(df['AGE'].mean())
df['AGE'] = df['AGE'].fillna(value = mean_age) #fill with the average value for this column
print(df.AGE)

0     35.0
1     35.0
2     39.0
3     33.0
4     44.0
5     54.0
6     30.0
7     43.0
8     41.0
9     39.0
10    65.0
11    24.0
12    50.0
13    40.0
14    29.0
15    48.0
16    31.0
17    39.0
18    40.0
19    35.0
Name: AGE, dtype: float64

In [ ]:
#Example 22 ====>>>> de testat
import pandas as pd
df = pd.read_csv('clients_leasing20.csv')

#Remove a column - axis = 1
df1 = df.drop("ID_CLIENT", axis=1)
print(df1.head())

# Remove a column – using the columns argument
df2 = df.drop(columns="AGE")
print(df2.head())

#Remove a list of columns, save as a new csv file
df3 = df.drop(["JOB", "SEX"], axis=1)
print(df3.head())
df3.to_csv('clients_df.csv', index = False)

#Remove column – modify the current dataframe: inplace = True, drop() returns None
df.drop("VENIT_PER_YEAR", axis=1, inplace = True)
print(df.head())

In [ ]:
#Example 23
import pandas as pd
df = pd.read_csv('clients_leasing20.csv')

# Remove rows 3, 5, 8
df4 = df.drop([3,5,8], axis=0)
print(df4.head())

In [ ]:
#Example 24
import pandas as pd
df = pd.read_csv('clients_leasing20.csv')
# Remove clients that are Engineers.
# set_index() sets the JOB column as index. This enables
# us to use JOB values to select rows.
df5 = df.set_index("JOB")
df5.drop("Inginer", axis=0, inplace = True)
print(df5.head())

# Remove the first five customers by ID, using iloc
# ??? Sterge primele cinci linii cu iloc
'''df = df.set_index("ID_CLIENT")
df = df.iloc[0:5, ]
print(df)
???'''

In [ ]:
#Example 25
import pandas
df = pandas.read_csv('clients_leasing20.csv', skiprows = [6,7,9], usecols = ['NAME_CLIENT','JOB'])
print(df)

In [ ]:
#Example 26
import pandas
df = pandas.read_csv('clients_leasing20.csv', nrows=6, usecols = ['NAME_CLIENT','INCOME_PER_YEAR'])
print(df)
print(df['INCOME_PER_YEAR'][0] + df['INCOME_PER_YEAR'][5])

In [ ]:
#Example 27
import pandas as pd
df = pd.read_csv('clients_leasing20.csv')
df6 = df.sort_values(by='INCOME_PER_YEAR')
print(df6.head(10))
df7.sort_values(by='AGE', ascending=False) # sort descending
print(df7.head(10))
df8.sort_values(by=['JOB', 'AGE']) #multiple sort
print(df8.head(10))
df9.sort_values(by=['JOB', ' INCOME_PER_YEAR '], ascending=[True, False]) #multiple sort with direction
print(df9.head(10))

In [ ]:
#Example 28
import pandas as pd
pd.set_option("display.max_columns",10)
df = pd.read_csv('clients_leasing20.csv')

df = df.rename(columns={"ID_CLIENT": "ID"})
df = df.rename(columns={"JOB": "Position"})
print(df.columns)

df=df.rename(
    columns={
        "AGE": "Age",
        "INCOME_PER_YEAR": "Income"
    }
)
print(df.columns)

# Applying a string function to col. names
df=df.rename(columns=str.lower) 
print(df.columns)

In [ ]:
### CSV Module
import csv
with open(path+'clients_leasing20.csv', 'r', newline='') as f:
    reader = csv.reader(f)
    for row in reader:
        print (row)

In [33]:
#import csv #already imported
with open(path+'clients_leasing20.csv', 'r') as f:
    reader = csv.reader(f)
    for row in reader:
        print (row[1])

NAME_CLIENT
Hajdu Ors Attila
Harpa Constantin
Horvath Zoltan Ignac
Herta Nicolae
Hagi Nazim
Handa Maria
Heredea Marius Petru
Hristea Stelian
Haidu Gyongyi
Hurjui Mihai
Herta Cornel Romeo
Hanes Adrian Paul
Herteg Editha
Hasnas Luminita
Hluscu Adrian
Hanu Maria
Huc Laura
Hodea Robert-Emanuel
Hincu Gabriel
Hreniuc Lacramioara Carmen

In [35]:
#import csv
with open(path+'clients_leasing20.csv', 'r') as f:
    reader = csv.reader(f)
    for row in reader:
        print (row[1],row[7]) #print(row[0:3])

NAME_CLIENT AGE
Hajdu Ors Attila 35
Harpa Constantin 35
Horvath Zoltan Ignac 25
Herta Nicolae 33
Hagi Nazim 44
Handa Maria 54
Heredea Marius Petru 30
Hristea Stelian 43
Haidu Gyongyi 41
Hurjui Mihai 44
Herta Cornel Romeo 65
Hanes Adrian Paul 24
Herteg Editha 50
Hasnas Luminita 40
Hluscu Adrian 29
Hanu Maria 48
Huc Laura 31
Hodea Robert-Emanuel 25
Hincu Gabriel 40
Hreniuc Lacramioara Carmen 35

In [ ]:
#import csv
with open(path+'clients_leasing20.csv', 'r') as f:
    reader = csv.reader(f)
    for i, row in enumerate(reader):
        print(row)
        if(i >= 10):
            break

In [ ]:
#import csv
from itertools import islice

with open(path+'clients_leasing20.csv', 'r') as f:
    reader = csv.reader(f)
    for row in islice(reader, 10): 
        print(row)

In [38]:
id_client = []
nume_client = []
sex = []
with open(path+'clients_leasing20.csv', 'r') as f:
    reader = csv.reader(f)
    for row in reader:
        id_client.append(row[0])
        nume_client.append(row[1])
        sex.append(row[3])
print(id_client)
print(nume_client)
print(sex)

['ID_CLIENT', '3488784', '4057671', '7539733', '3180923', '1673453', '2213309', '7294773', '3669330', '1222690', '3678467', '7751562', '9490051', '75709', '1919217', '2158372', '2158955', '3795147', '6182551', '2048374', '2043893']
['NAME_CLIENT', 'Hajdu Ors Attila', 'Harpa Constantin', 'Horvath Zoltan Ignac', 'Herta Nicolae', 'Hagi Nazim', 'Handa Maria', 'Heredea Marius Petru', 'Hristea Stelian', 'Haidu Gyongyi', 'Hurjui Mihai', 'Herta Cornel Romeo', 'Hanes Adrian Paul', 'Herteg Editha', 'Hasnas Luminita', 'Hluscu Adrian', 'Hanu Maria', 'Huc Laura', 'Hodea Robert-Emanuel', 'Hincu Gabriel', 'Hreniuc Lacramioara Carmen']
['SEX', 'm', 'm', 'm', 'm', 'm', 'f', 'm', 'm', 'f', 'm', 'm', 'm', 'f', 'f', 'm', 'f', 'f', 'm', 'm', 'f']

In [3]:
#import csv
with open(path+'employees.txt') as f:
    reader = csv.reader(f, delimiter=',')
    line_count = 0
    for row in reader:
        if line_count == 0:
            #print('Column names: {}'.format(", ".join(row))) Python version < 3.6
            print(f'Column names: {", ".join(row)}') #Python 3.6+ 
            line_count += 1
        else:
            #print('\t{} works in: {}, born in: {}'.format(row[0],row[1],row[2])) # Python version < 3.6
            print(f'\t{row[0]} works in: {row[1]}, born in: {row[2]}.') #Python 3.6+ 
            line_count += 1
    #print('{} lines were processed.'.format(line_count)) #Python version < 3.6
    print(f'{line_count} lines were processed.') #Python 3.6+

Column names: Name, Department, Month of birth
	Popescu Gigel works in: Accounting, born in: December.
	Ionescu Maria works in: IT, born in: July.
3 lines were processed.

In [ ]:
#import csv
with open(path+'employees.txt', newline='') as f:
    reader = csv.DictReader(f, delimiter=',')
    for row in reader:
        print(row)

In [53]:
#import csv
with open(path+'employees1.txt', newline='') as f:
    reader = csv.DictReader(f, delimiter =';')
    for row in reader:
        print(row)

{'Department': 'Accounting', 'Month of birth': 'December', 'Name': 'Popescu Gigel'}
{'Department': 'IT', 'Month of birth': 'July', 'Name': 'Ionescu Maria'}

In [55]:
#import csv
with open(path+'employees.csv', mode='w', newline='') as f:
    writer = csv.writer(f)
    writer.writerow(['Cosmin Antonescu', 'Marketing', 'Noiembrie'])
    writer.writerow(['Eugenia Marin', 'Vanzari', 'Iulie'])

#check the file contents:
with open(path+'employees.csv') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['Cosmin Antonescu', 'Marketing', 'Noiembrie']
['Eugenia Marin', 'Vanzari', 'Iulie']

In [2]:
#import csv
with open(path+'employees1.csv', mode='w') as f:
    fieldnames = ['Name', 'Dept', 'Month']
    writer = csv.DictWriter(f, fieldnames=fieldnames)
    writer.writeheader()
    writer.writerow({'Name': 'Constantinescu Andrei', 'Dept': 'Accounting', 'Month': 'April'})
    writer.writerow({'Name': 'Iliescu Emil', 'Dept': 'IT', 'Month': 'May'})

#check the file contents:
with open(path+'employees1.csv') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['Name', 'Dept', 'Month']
['Constantinescu Andrei', 'Accounting', 'April']
['Iliescu Emil', 'IT', 'May']